{% load static %}
<center> Padre: home.html </center>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
    
    <style>
        body {
          font-family: "Bahnschrift", sans-serif;
          margin: 0;
          padding: 0;
        }
        form {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
    
            margin: auto;
            max-width: 550px;
        }
        form input {
            margin-bottom: 1rem;
            width: 100%;
        }
        
    </style>

</head>
<body>

<fieldset>
    <h1> <center> <b> Django MVT  </b> - Entrega intermedia </center> </h1> 
</fieldset>

<fieldset>
    <br><b> Se debe entregar: </b></br>
    <br>Link de GitHub con el proyecto totalmente subido a la plataforma.
    <br>Proyecto Web Django con patrón MVT que incluya:
    <br> <b>1.</b> Herencia de HTML.
    <br> <b>2.</b> Por lo menos 3 clases en models.
    <br> <b>3.</b> Un formulario para insertar datos a todas las clases de tu models.
    <br> <b>4.</b> Un formulario para buscar algo en la BD.
    <br> <b>5.</b> Readme que indique el orden en el que se prueban las cosas y/o donde están las
    funcionalidades.
</fieldset>

{% block content %}

<fieldset>
    <h1> <center> Explorar base de datos </center> </h1>
    <center>
    ||
    <a href="{% url 'players' %}">Jugadores</a>
    ||
    <a href="{% url 'items' %}">Ítems</a>
    ||
    <a href="{% url 'vehicles' %}">Vehículos</a>
    ||
    <a href="{% url 'admins' %}">Administradores</a>
    ||
    </center>
</fieldset>

<fieldset>
    <h1> <center> Buscar entrada en la base de datos </center> </h1>
    <center>
    ||
    <a href="{% url 'searchuser' %}">Buscar jugador</a>
    ||
    <a href="{% url 'searchitem' %}">Buscar ítem</a>
    ||
    <a href="{% url 'searchvehicle' %}">Buscar vehículo</a>
    ||
    <a href="{% url 'searchadmin' %}">Buscar administrador</a>
    ||
    </center>
</fieldset>

<fieldset>
    <h1> <center> Ingresar nueva entrada a la base de datos </center> </h1>
    <center>
    ||
    <a href="{% url 'adduser' %}">Agregar jugador</a>
    ||
    <a href="{% url 'additem' %}">Agregar ítem</a>
    ||
    <a href="{% url 'addvehicle' %}">Agregar vehículo</a>
    ||
    <a href="{% url 'addadmin' %}">Agregar administrador</a>
    ||
    </center>
</fieldset>

{% endblock %}
<hr><hr><hr>
<h><center><b> Alumno:</b> Irala Ariel <br> <b>Comisión</b> 28805 </center></h>
</body>
</html>