<center> Hijo: players.html </center>
{% extends 'home.html' %}
{% load static %}
{% block content %}

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <img src={% static "Players.png" %}/> 
</center>

<h1 style = 'color:blue'> <center> <b> Jugadores  </b> - Longitud de la base de datos: {{ amount }}</center> </h1> 
<center> <a href="{% url 'index' %}">Volver</a></center> <br>
{% for x in playersdata %}

    <fieldset>
        <legend style = 'color:red' ><b> {{ x.usernick }} </b></legend>
        <p><b>Tipo de dato y posición en la base de datos:</b> {{ x }}</p>
        <p><b>ID del jugador:</b> {{ x.userid }}</p>
        <p><b>Última conexión:</b> {{ x.userlastconnection }}</p>
        <p><b>Posición en el mundo (X,Y,Z):</b> {{ x.userposX }},{{ x.userposY }},{{ x.userposZ }} </p>
    </fieldset>

{% endfor %}
{% endblock %}