<center> Hijo: profile.html </center>
{% extends 'home.html' %}
{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>
<h1 style = 'color:blue'> <center> <b> Tu perfil </b></center> </h1> 

<h2 style = 'color:green'> {{ error }} </h2>

<center>
<fieldset>
<b> Tu nombre de usuario: </b> {{ request.user }}
<br><b> Eres administrador?: </b> {% if request.user.is_superuser %} Sí. {% else %} No. {% endif %}
<br><b> Tu correo electrónico: </b> {{ request.user.email }}
<fieldset>
<b style = 'color:green' align = left> Tu info: </b></br> {{ request.user.profile.info }}
</fieldset>
<br><b> Tu avatar: </b></br>
<img src="/media/{{ request.user.profile.avatar }}" width="150" height="150" align = center> <br></br>

||
<a href="{% url 'editprofile' %}">Editar perfil</a>
||
<a href="{% url 'index' %}">Volver al inicio</a>
||

</fieldset>

</center>

{% endblock %}