<center> Hijo: addadmin.html </center>
{% extends 'home.html' %}
{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <h1 style = 'color:blue'> <center> Agregar administrador nuevo a la base de datos </center> </h1>
    <a href="{% url 'index' %}">Volver</a>
</center>

<fieldset>
        <legend style = 'color:red'> Ingrese los campos requeridos</legend>
        
        <form form = 'EntregaIntermedia/forms' method = 'POST'>
            {% csrf_token %}
            <p>
                {{ form.as_table }}
                {% if form.value == 'xd'  %} <input type = "submit" value = "Agregar administrador"> {% endif %}
                <input type = "submit" value = "Agregar administrador">
                {% if message %}
                    <b> {{ message }} </b>
                {% endif %}
            </p>
            
        

            <fieldset>
                <b style = 'color:green'>  Niveles de acceso </b>
                <fieldset style='color:blue'> <b> observer: </b> <br>
                    Activar invencibilidad sólo a sí mismo. <br>
                    Activar invisibilidad sólo a sí mismo. <br>
                    Teletransportarse a un jugador. <br>
                    Ver jugadores invisibles. <br>
                    Ignorar colisión.
                </fieldset>
                <fieldset style='color:blue'> <b> moderator </b> <br>
                    Activar invencibilidad a sí mismo y a resto de jugadores. <br>
                    Activar invisibilidad sólo a sí mismo y a resto de jugadores. <br>
                    Teletransportarse a un jugador y teletransportar hacia posición X jugador. <br>
                    Ver jugadores invisibles, expulsaros y silenciarlos. <br>
                    Ignorar colisión y otorgar ítems.
                </fieldset>
                <fieldset style='color:blue'> <b> administrator </b> <br>
                    Activar invencibilidad a sí mismo y a resto de jugadores. <br>
                    Activar invisibilidad sólo a sí mismo y a resto de jugadores. <br>
                    Teletransportarse a un jugador y teletransportar hacia posición X jugador. <br>
                    Ver jugadores invisibles, expulsaros y silenciarlos. <br>
                    Ignorar colisión y otorgar ítems. <br>
                    Agregar usuarios a la lista blanca y negra. <br>
                    Agregar privilegios de Oberservador/ Moderador. <br>
                    Crear hordas, ver inventario de jugadores e historial de acciones.
                </fieldset>
            </fieldset>
        </form>
</fieldset>

{% endblock %}