<center> Hijo: addvehicle.html </center>
{% extends 'home.html' %}
{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <h1 style = 'color:blue'> <center> Agregar vehículo nuevo a la base de datos </center> </h1>
    <a href="{% url 'index' %}">Volver</a>
</center>

<fieldset>
        <legend style = 'color:red'> Ingrese los campos requeridos</legend>
        
        <form form = 'EntregaIntermedia/forms' method = 'POST'>
            {% csrf_token %}
            <p>
                {{ form.as_table }}
            </p>
            <input type = "submit" value = "Agregar vehículo">
        </form>
</fieldset>

{% endblock %}