<center> Hijo: deleteitem.html </center>
{% extends 'home.html' %}
{% load static %}
{% block content %}


<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <img src={% static "BellPepper.png" %}/> 
    <img src={% static "Chicken.png" %}/> 
    <img src={% static "AlcoholWipes.png" %}/> 
    <img src={% static "Bacon.png" %}/> 
    <img src={% static "Carrots.png" %}/> 
</center>

<fieldset>
    <h1 style = 'color:blue'> <center> <b> Eliminar entrada  </b> </center> </h1> 

    {% if message %}
        <center> <a href="{% url 'items' %}">Regresar al listado</a></center> <br>
    {% endif %}
    {% if not message %}
        <center> <a href="{% url 'items' %}">Cancelar</a></center> <br>
    {% endif %}
            <fieldset>
                {% if not message %}
                <legend style = 'color:red' ><b> {{ results.itemname }} </b></legend>
                <p><b>Cantidad:</b> {{ results.itemquantity }}</p>
                <p><b>Posición en el mundo (X,Y,Z):</b> {{ results.itemposX }},{{ results.itemposY }},{{ results.itemposZ }} </p>
                <p><b>Creado por:</b> {{ results.createdby }} - <b>Fecha de creación:</b> {{ results.creationdate }} </p>
        <p><b>Modificación hecha por:</b> {{ results.lastmodifiedby }} - <b>Última modificación:</b> {{ results.modificationdate }} </p>
        <p><b>Avatar: </b><img src="/media/{{ results.itemicon }}" width="50" height="50" align = center>
            <fieldset> 
                
            <form form = 'EntregaIntermedia/forms' method = 'POST'>
                {% csrf_token %}
                {{ form }}
                <p style = 'color:red'> <br><b>AVISO:</b> No puedes recuperar las entradas que son eliminadas. </br>
                <input type = "submit" value = "Sí, quiero eliminar esta entrada!"> </p>
            </form>

{% endif %}
            {% if message %}
                <h1 style = 'color:green'> <center> {{ message }} </center> </h1>
            {% endif %}
        </fieldset>
    </fieldset>
</fieldset>

{% endblock %}