
<center> Hijo: deleteadmin.html </center>
{% extends 'home.html' %}
{% load static %}
{% block content %}


<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <img src={% static "Sledgehammer.png" %}/> 
</center>

<fieldset>
    <h1 style = 'color:blue'> <center> <b> Eliminar entrada  </b> </center> </h1> 

    {% if message %}
        <center> <a href="{% url 'admins' %}">Regresar al listado</a></center> <br>
    {% endif %}
    {% if not message %}
        <center> <a href="{% url 'admins' %}">Cancelar</a></center> <br>
    {% endif %}
            <fieldset>
                {% if not message %}
                <legend style = 'color:red' ><b> {{ results.adminid }} </b></legend>
                <p><b>Nivel de acceso:</b> {{ results.adminaccesslevel }} </p>
                <p><b>Creado por:</b> {{ results.createdby }} - <b>Fecha de creación:</b> {{ results.creationdate }} </p>
                <p><b>Modificación hecha por:</b> {{ results.lastmodifiedby }} - <b>Última modificación:</b> {{ results.modificationdate }} </p>
                <p><b>Avatar: </b><img src="/media/{{ results.adminavatar }}" width="70" height="100" align = center>
            <fieldset> 
                
            <form form = 'EntregaIntermedia/forms' method = 'POST'>
                {% csrf_token %}
                {{ form }}
                <p style = 'color:red'> <br><b>AVISO:</b> No puedes recuperar las entradas que son eliminadas. </br>
                <input type = "submit" value = "Sí, quiero eliminar esta entrada!"> </p>
            </form>

{% endif %}
            {% if message %}
                <h1 style = 'color:green'> <center> {{ message }} </center> </h1>
            {% endif %}
        </fieldset>
    </fieldset>
</fieldset>

{% endblock %}