<center> Hijo: searchvehicle.html </center>
{% extends 'home.html' %}
{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>

<center>
    <h1 style = 'color:blue'> <center> Buscador de vehículos </center> </h1>
    <a href="{% url 'vehicles' %}">Volver</a>
    
<form form = 'EntregaIntermedia/forms' method = 'POST'>
    {% csrf_token %}
    <p>
        Busque algún vehículo por nombre <br> </br>
        <input type = "text" name = "vehiclemodel" placeholder = 'DashRancher, FranklinValuline...' required>
        <input type = "submit" value = "Buscar">
    </p>

</form>
</center>
    
{% if not elements %}
    <fieldset> <h1 style = 'color:red'> <center> {{ message }} </center> </h1></fieldset>
{% endif %}

{% for element in elements %}

    <fieldset>
        <legend style = 'color:green'>{{ element.vehiclemodel }}</legend>
        <p><b>Posición en el mundo (X,Y):</b> {{ element.vehicleposX }},{{ element.vehicleposY }} </p>
        <p><b>Creado por:</b> {{ element.createdby }} - <b>Fecha de creación:</b> {{ element.creationdate }} </p>
        <p><b>Modificación hecha por:</b> {{ element.lastmodifiedby }} - <b>Última modificación:</b> {{ element.modificationdate }} </p>
        <p><b>Avatar: </b><img src="/media/{{ element.vehicleicon }}" width="150" height="100" align = center>
    </fieldset>

{% endfor %}
{% endblock %}