<center> Hijo: searchuser.html </center>
{% extends 'home.html' %}

{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
    
</head>

<center>
    <h1 style = 'color:blue'> <center> Buscador de jugadores </center> </h1>
    <a href="{% url 'index' %}">Volver</a>
    
<form form = 'EntregaIntermedia/forms' method = 'POST'>
    {% csrf_token %}
    <p>
        {% comment %} {{ form.as_table }} disabled for now {% endcomment %}
        Busque algún jugador por su nombre <br> </br>
        <input type = "text" name = "playernick" placeholder = 'Jugador1, Jugador2, JuGaDoR3...' required>
        <input type = "submit" value = "Buscar">
    </p>

</form>
</center>
    
{% if not elements %}
    <fieldset> <h1 style = 'color:red'> <center> {{ message }} </center> </h1></fieldset>
{% endif %}

{% for element in elements %}
    <fieldset>
        <legend style = 'color:blue'><b>{{ element.usernick }}</center></b></legend>
        <p><b>Tipo de dato y posición en la base de datos:</b> {{ element }}</p>
        <p><b>ID del jugador:</b> {{ element.userid }}</p>
        <p><b>Última conexión:</b> {{ element.userlastconnection }}</p>
        <p><b>Posición en el mundo (X,Y,Z):</b> {{ element.userposX }},{{ element.userposY }},{{ element.userposZ }} </p>
    </fieldset>



{% endfor %}
{% endblock %}