<center> Hijo: generic.html </center>
{% extends 'home.html' %}
{% block content %} 

<head>
    <title>zFinder {% if title %} | {{ title }} {% endif %}</title>
</head>


<li>
    <fieldset>
        <legend style = 'color:red'>Test 1<b></b></legend>
        Red color field.
    </fieldset>
</li>
<li>
    <fieldset>
        <legend style = 'color:green'>Test 2<b></b></legend>
        Green color field.
    </fieldset>
</li>
<li>
    <fieldset>
        <legend style = 'color:blue'>Test 3<b></b></legend>
        Blue color fied.
    </fieldset>
</li>
<li>
    <fieldset>
        <legend style = 'color:yellow'>Test 4<b></b></legend>
        Yellow color field.
    </fieldset>
    

<a href="{% url 'index' %}">Volver</a>
<nav class = "navbar navbar-light bg-light static-top">
    <div class = "container">
        <a class = "navbar-brand" href = "{% url 'index' %}">VoXDlver</a>

{% endblock %}